.hero{
    display: flex;
    min-height: calc(100vh - 74px);
    overflow: hidden;
}

.hero-image{
    display: flex;
    flex: 1;
    flex-direction: column;
    

    position: relative;
    z-index: 5;
}

.hero-image img{
    width: 110%;
    height: 200%;
    margin-top: 5rem;
    object-fit: contain;
}

.hero-image__overlay{
    position: absolute;
    inset: 0;
    width: 102%;
    background-color: var(--primary-color);
    z-index: -1;
}

.hero-content{
    display: flex;
    flex: 1;
}

.hero-content-info{
    display: flex;
    flex: 1;
    padding: 4rem;
    justify-content: center;
    flex-direction: column;

}

.hero-content-info h1{
    font-size: 80px;
    font-weight: 620px;
    font-family: var(--playfair-display);
}

.hero-content-info p{
    margin: 10px 0 0 20px;
    font-family: var(--plus-jakarta-sans);
    font-size: 18px;
}
